<body>
    <section class="text-stone-800 bg-stone-100 shadow dark:bg-stone-800 dark:text-stone-200 p-5 m-10 rounded-md">
        <div class="text-lg mb-5">
            <h1>Order Dashboard</h1>
        </div>
        <section class="flex flex-row">
            <div class="basis-1/2 bg-stone-200 dark:bg-stone-700 p-2 m-2 rounded-md shadow">
                <div class="mb-3">
                    <h2>Upcoming Orders</h2>
                </div>
                <div>
                    <ul>
                        <li class="bg-stone-100 dark:bg-stone-800 p-2 m-2 rounded-md shadow">
                            <div>
                                <h3 class="underline underline-offset-4">Customer Name</h3>
                                <ul class="pb-3 list-disc list-inside flex flex-row flex-wrap justify-between">
                                    <li>coffee base</li>
                                    <li>milk type</li>
                                    <li>sweetener type</li>
                                    <li>flavor type</li>
                                </ul>
                                <p class="pb-2">employee id</p>
                                <button type="button" class="p-1 text-stone-200 bg-stone-800 rounded-md hover:bg-stone-700 dark:bg-stone-100 dark:hover:bg-stone-300 dark:text-stone-800">Ready</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="basis-1/2 bg-stone-200 dark:bg-stone-700 p-2 m-2 rounded-md shadow">
                <div class="mb-3">
                    <h2>Completed Orders</h2>
                </div>
                <div>
                    <ul>
                        <li class="bg-stone-100 dark:bg-stone-800 p-2 m-2 rounded-md shadow">
                            <div>
                                <h3 class="underline underline-offset-4">Customer Name</h3>
                                <ul class="pb-3 list-disc list-inside flex flex-row flex-wrap justify-between">
                                    <li>coffee base</li>
                                    <li>milk type</li>
                                    <li>sweetener type</li>
                                    <li>flavor type</li>
                                </ul>
                                <p class="pb-2">employee id</p>
                                <button type="button" class="p-1 text-stone-200 bg-stone-800 rounded-md hover:bg-stone-700 dark:bg-stone-100 dark:hover:bg-stone-300 dark:text-stone-800">Picked Up</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
</body>