<body>
    <div>
        <h1>Order Dashboard</h1>
    </div>
    <section>
        <div>
            <div>
                <h2>Upcoming Orders</h2>
            </div>
            <div>
                <ul>
                    <li>

                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <h2>Completed Orders</h2>
            </div>
            <div>
                <ul>
                    <li>
                        
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>