<div class="">
  <section class="text-gray-50 bg-white shadow dark:bg-gray-800 p-5 m-10 rounded-md">
    <h2 class="text-lg mb-5">Create New order</h2>
    <form class="flex flex-wrap content-start">
      <fieldset class="m-3">
        <label for="customername">Customer Name:</label>
        <input type="text" id="customername" name="customername" class="rounded-md"><br>
      </fieldset>
      <fieldset class="m-3">
        <legend>Coffee Base:</legend>
        <input type="radio" id="base_espresso" name="coffee_base" value="espresso">
        <label for="base_espresso">Espresso</label><br>
        <input type="radio" id="base_latte" name="coffee_base" value="latte">
        <label for="base_latte">Latte</label><br>
        <input type="radio" id="base_americano" name="coffee_base" value="americano">
        <label for="base_americano">Americano</label><br>
        <input type="radio" id="base_icedcoffee" name="coffee_base" value="icedcoffee">
        <label for="base_icedcoffee">Iced Coffee</label><br>
        <input type="radio" id="base_coldbrew" name="coffee_base" value="coldbrew">
        <label for="base_coldbrew">Cold Brew</label><br>
      </fieldset>
      <fieldset class="m-3">
        <legend>Milk:</legend>
        <input type="radio" id="whole_milk" name="milk_type" value="whole">
        <label for="whole_milk">Whole Milk</label><br>
        <input type="radio" id="two_milk" name="milk_type" value="twopercent">
        <label for="two_milk">2% Milk</label><br>
        <input type="radio" id="oat_milk" name="milk_type" value="oat">
        <label for="oat_milk">Oat Milk</label><br>
        <input type="radio" id="almond_milk" name="milk_type" value="almond">
        <label for="almond_milk">Almond Milk</label><br>
      </fieldset>
      <fieldset class="m-3">
        <legend>Sweetener:</legend>
        <input type="radio" id="sweet_sugar" name="sweetener_type" value="sugar">
        <label for="sweet_sugar">Sugar</label><br>
        <input type="radio" id="sweet_honey" name="sweetener_type" value="honey">
        <label for="sweet_honey">Honey</label><br>
        <input type="radio" id="sweet_stevia" name="sweetener_type" value="stevia">
        <label for="sweet_stevia">Stevia</label><br>
      </fieldset>
      <fieldset class="m-3">
        <legend>Flavor:</legend>
        <input type="radio" id="vanilla_flavor" name="flavor_type" value="vanilla">
        <label for="vanilla_flavor">Vanilla</label><br>
        <input type="radio" id="caramel_flavor" name="flavor_type" value="caramel">
        <label for="caramel_flavor">Caramel</label><br>
        <input type="radio" id="mocha_flavor" name="flavor_type" value="mocha">
        <label for="mocha_flavor">Mocha</label><br>
        <input type="radio" id="lavender_flavor" name="flavor_type" value="lavender">
        <label for="lavender_flavor">Lavender</label><br>
      </fieldset>
      <button type="submit" class="w-20 h-10 ml-5 bg-white text-gray-800 self-center rounded-md">Submit</button>
    </form>
  </section>
</div>