<section
  class="max-w-4xl p-6 mx-auto bg-stone-100 dark:bg-stone-800 rounded-md shadow-md" style="margin-top: 200px;"
>
  <h2
    class="text-lg font-semibold text-stone-800 dark:text-stone-200 capitalize"
  >Sign Up</h2>

  <form class="signup-form" >
    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
      <div>
        <label
          class="text-stone-800 dark:text-stone-200"
          for="username-signup"
        >Username</label>
        <input
          id="username-signup"
          type="text"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-stone-100 border border-stone-400 rounded-md dark:bg-stone-800 dark:text-stone-200 focus:border-yellow-900 focus:ring-yellow-700 focus:ring-opacity-40 focus:outline-none focus:ring"
        />
      </div>
      <div>
        <label
          class="text-stone-800 dark:text-stone-200"
          for="password-signup"
        >Password</label>
        <input
          id="password-signup"
          type="password"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-stone-100 border border-stone-400 rounded-md dark:bg-stone-800 dark:text-stone-200 focus:border-yellow-900 focus:ring-yellow-700 focus:ring-opacity-40 focus:outline-none focus:ring"
        />
      </div>

      <div>
        <label
          class="text-stone-800 dark:text-stone-200"
          for="pin-signup"
        >PIN</label>
        <input
          id="pin-signup"
          type="password"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-stone-100 border border-stone-400 rounded-md dark:bg-stone-800 dark:text-stone-200 focus:border-yellow-900 focus:ring-yellow-700 focus:ring-opacity-40 focus:outline-none focus:ring"
        />
      </div>
    </div>

    <div class="flex justify-end mt-6">
      <button
        class="mr-1 px-6 py-2 leading-5 text-stone-200 transition-colors duration-200 transform bg-stone-800 rounded-md hover:bg-stone-700 focus:outline-none dark:bg-stone-100 dark:hover:bg-stone-300 dark:text-stone-800"
        type="submit"
      >Signup</button>
    </div>
  </form>
</section>


<script src="/javascript/signup.js"></script>
{{!-- <script src="/javascript/signup.js"></script> --}}

