<section
  class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800"
>
  <h2
    class="text-lg font-semibold text-gray-700 capitalize dark:text-white"
  >Sign Up</h2>

  <form class="signup-form" id="signup-form">
    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
      <div>
        <label
          class="text-gray-700 dark:text-gray-200"
          for="user-signup"
        >Username</label>
        <input
          id="user-signup"
          type="text"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>
      <div>
        <label
          class="text-gray-700 dark:text-gray-200"
          for="password-signup"
        >Password</label>
        <input
          id="password-signup"
          type="password"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>

      <div>
        <label
          class="text-gray-700 dark:text-gray-200"
          for="pin-signup"
        >PIN</label>
        <input
          id="pin-signup"
          type="password"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>
    </div>

    <div class="flex justify-end mt-6">
      <button
        class="mr-1 px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600"
        type="submit"
      >Signup</button>
      <a
        class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600"
        href="/login"
      >Login</a>
    </div>
  </form>
</section>


<script src="/javascript/login.js"></script>
